/*

!.envrc
!.gitignore
!CMakeLists.txt

!flake.lock
!flake.nix

!cmake/
!tests/

!src/
!include/
!nodex-native/
nodex-native/tmp/
nodex-native/lib/**/*.so
nodex-native/ext/nodex_native/vendor/

!ruby/
ruby/lib/nodex/native/*/
!ruby/lib/nodex/native/.gitkeep

!data/
!static/
!templates/

!docs/
!examples/

!nodex.gemspec
!Rakefile
!README.md
!LICENSE
!CLAUDE.md

!.github/
